@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #37353E;
    --cor-secundaria: #D3DAD9;
    --cor-terciaria: #715A5A;
    --cor-hover: #44444E;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria) ;
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
.cabecalho_link{
    color: var(--cor-terciaria);
    font-family:var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.tamanho-titulo{
    font-size:  2.25rem;
    font-family: var(--fonte-primaria);
}
.Destaque {
    color:var(--cor-terciaria);
}
.tamanho-paragrafo{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}
.links-sub{
    font-family:var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.Links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.botao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    color:var(--cor-secundaria);
    padding: 21px 0;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    border : 2px solid var(--cor-terciaria);
}
.botao:hover{
    background-color: var(--cor-hover);
}
.apresentacao_imagem{
    width: 50%;
}

.rodape{
    color:var(--cor-primaria);
    background-color:var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}
@media (max-width: 1200px){
    .cabecalho{padding: 8%;}
    .cabecalho_menu{justify-content: center;}
    .apresentacao{ flex-direction: column-reverse;
    padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}
